*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,body{
    width: 100%;
    height: 100%;
}

#pointer-circle{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}

#pointer-circle-2{
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bound{
    width: fit-content;
    overflow: hidden;
}

.bound .bound-elem{
    transform: translateY(100%);
}
#main{
    width: 100%;
    background-color: black;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
#heading{
    margin-top: 50px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1vw;
}
.blocktext #second-h1{
    margin-left: 190px;
}

#heading h1{
    margin-left: 45px;
    opacity: 0.6;
    line-height: 0.93;
    font-size: 9.4vw;
    text-transform: uppercase;
    font-weight: 900;
}

#available{
  margin-top: 160px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
}



#available h5{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1vw;
}

#hero-footer{
    width: 100%;
    position: absolute;
    bottom: 4%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-footer a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}



#hero-footer #iconset{
    display: flex;
    gap: 5px;
}

#hero-footer #iconset i{
    color: black;
    
}

#hero-footer .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #888;
}

#experience{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 40px;
    background-color: black;
    width: 100%;
    height: fit-content;
}

.org{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #888; 
    padding: 4vw 1vw;
}

.org h1{
    text-transform: uppercase;
    font-size: 6.5vw;
    color: white;
    opacity: 0.7;
}
.org h5{
    color: white;
}
.lastorg{
    border-bottom: 1px solid #888; 
}

.org img{
    opacity: 0;
    height: 140%;
    position: absolute;
    z-index: 999;
}

#about{
    width: 100%;
    background-color: black;
    padding: 17vw 5vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10vw 2vw 10vw 10vw;
    gap: 4vw;
}

#about-img{
    width: 225px;
}

#about-text{
    color: white;
    line-height: 1.6;
    width: 500px
}
#about-text p{
    margin-bottom: 25px;
    font-size: 16px;
}
#about-text h5{
    opacity: 0.6;
    font-size: 11px;
}
#about-text a{
    background-color: black;
    color: white;
    padding: 6px 13px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 14px;
}

#subscribe{
    color: white;
    padding: 20px 30px;
    background-color: black;
    padding-bottom: 7vw;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 11px;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 15px;
}

#footer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    color: white;
    background-color: black;
}

#footer-left{
    display: flex;
    gap: 20px;
}

#footer a{
    color:white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

#footer-right{
    display: flex;
    gap: 20px;
}

