*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
#heading{
    margin-top: 50px;
}

.blocktext{
    width: fit-content;
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1vw;
}
.blocktext #second-h1{
    margin-left: 190px;
}

#heading h1{
    margin-left: 45px;
    opacity: 0.6;
    line-height: 0.93;
    font-size: 9.4vw;
    text-transform: uppercase;
    font-weight: 900;
}

#available{
  margin-top: 160px;
  padding-right: 50px;
}
#available h5{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1vw;
    text-align: right;
}

#hero-footer{
    width: 100%;
    position: absolute;
    bottom: 4%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-footer a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}



#hero-footer #iconset{
    display: flex;
    gap: 5px;
}

#hero-footer #iconset i{
    color: black;
    
}

#hero-footer .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #888;
}

#experience{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 40px;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.org{
    width: 100%;
    border-top: 1px solid #888; 
    padding: 4vw 1vw;
}

.org h1{
    text-transform: uppercase;
    font-size: 6.5vw;
    color: white;
    opacity: 0.7;
}

.lastorg{
    border-bottom: 1px solid #888; 
}